@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

/********** HEADER **********/
body {
  background-color: #fffcf2;
  font-family: 'Roboto', sans-serif; }

.navbar {
  background-color: #252422;
  padding: 1.2rem;
  border-bottom: 2px solid #eb5e28; }

.navbarLogo {
  color: #fffcf2;
  font-size: 2.2rem;
  background-color: #eb5e28;
  border-radius: 10px;
  padding: 0 0.8rem; }

.elementsNav {
  display: flex;
  justify-content: end;
  align-items: center; }

.elementsNav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #eb5e28; }

.itemAct {
  color: #fffcf2; }

/********** MAIN **********/
.carousel-inner img {
  object-fit: cover;
  height: 100%; }

.carousel-item {
  height: 88vh; }

.titleMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: bolder;
  color: #eb5e28;
  -webkit-text-stroke: 0.5px #252422; }

.textMain {
  padding: 2rem; }

.textMain p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 2rem; }

.lineDiv {
  display: flex;
  justify-content: center; }

.lineDiv hr {
  width: 95%;
  border: 2px #252422 solid; }

/********** SECTION **********/
.sectionCards {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.cardBody {
  height: 350x;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }

.topCard {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  width: 380px; }

.topCard img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.botCard {
  height: 270px;
  width: 380px; }

.botCard h5 {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem; }

.botCard h4 {
  color: gray;
  font-size: 1.2rem;
  font-weight: 300; }

.botCard p {
  font-size: 0.8rem; }

.botCard a {
  text-decoration: none;
  color: #eb5e28;
  font-size: 0.8rem;
  line-height: 0; }

.botCard a span {
  background-color: black;
  padding: 0 0.2rem 0.1rem 0.2rem; }

/********** FOOTER **********/
footer {
  height: fit-content;
  padding-bottom: 2.5rem;
  line-height: 0;
  background-color: #252422; }

.elementsFooter {
  padding-top: 3rem;
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0; }

.elementsFooter a {
  font-size: 1rem;
  color: #eb5e28;
  text-decoration: none; }

.socialNetworks {
  margin: 1rem;
  color: #eb5e28;
  display: flex;
  justify-content: center;
  align-items: center; }

.socialNetworks a svg {
  stroke: #eb5e28;
  width: 30px;
  margin: 0 0.5rem; }

.lineDivFooter hr {
  border: 1px solid #eb5e28; }

.copyRight {
  margin-bottom: 0;
  padding-top: 1.5rem;
  font-weight: bold;
  color: #eb5e28;
  display: flex;
  justify-content: center; }

@media (max-width: 1200px) {
  .sectionCards {
    flex-wrap: wrap; }
  .carousel-inner img {
    object-fit: contain; } }

/********** NEWS **********/
.titleNews {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
  color: #eb5e28;
  -webkit-text-stroke: 0.5px #252422; }

.imgNews {
  width: 100%; }

.subtitleNews {
  margin: 2rem;
  text-align: center;
  font-weight: bold; }

.textNews {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center; }

.videoNews {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.videoNews iframe {
  border-radius: 10px; }

.sectionInfo {
  margin-top: 2rem;
  width: 100%; }

.imgSection {
  border-radius: 1px;
  width: 50%; }

.infoOne {
  display: flex;
  align-items: center; }

.info p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center; }

.infoTwo {
  display: flex;
  align-items: center; }

.info {
  display: flex;
  flex-direction: column; }

@media (max-width: 1000px) {
  .infoOne {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
  .infoTwo {
    display: flex;
    flex-direction: column; }
  .imgSection {
    width: 80%; } }

/********** PRODUCTS **********/
.containerProducts {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 300px));
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.containerProducts a {
  margin: 0 auto;
  position: relative; }

.containerProducts a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transition: all 500ms ease-out; }

.containerProducts a:hover::after {
  background-color: #eb5f28a9; }

.cardProduct {
  height: 170px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.cardProduct img {
  width: 320px;
  object-fit: cover; }

.cardProduct h4 {
  font-size: 1.5rem;
  color: #eb5e28;
  -webkit-text-stroke: 0.1px #fffcf2;
  position: absolute;
  text-align: center;
  font-weight: bold;
  z-index: 10; }

@media (max-width: 1000px) {
  .containerProducts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem; } }

/********** VIDEOS **********/
.linkYoutube {
  margin-top: 2rem;
  color: #eb5e28;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-text-stroke: 1.5px #252422; }

.linkYoutube:hover {
  color: #eb5e28; }

.containerVideos {
  margin: 2rem 0rem 4rem 0rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px; }

.containerVideos iframe {
  border-radius: 10px; }

@media (max-width: 1450px) {
  .containerVideos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    flex-direction: column; } }

/********** CONTACT **********/
.divContact {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.formContact {
  width: 80%;
  max-width: 505px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.formContact input {
  width: 100%; }

.formContact label {
  margin-top: 1rem; }

.formContact textarea {
  width: 100%;
  margin-top: 2rem;
  padding-left: 0.3rem; }

.formContact textarea::placeholder {
  padding-left: 0.3rem; }

.buttonsContact {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem; }

.buttonsContact input {
  height: 2.2rem;
  border-radius: 4px;
  border-style: none;
  background-color: #eb5e28;
  color: #fffcf2; }

.buttonsContact input:nth-last-child(1) {
  background-color: gray;
  color: #fffcf2;
  border: 1px solid gray; }

@media (max-width: 1300px) {
  .divContact {
    flex-wrap: wrap; }
  .divContact iframe {
    width: 90%;
    max-width: 505px;
    margin: 0 auto;
    margin-bottom: 2rem; } }
