@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

/********** HEADER **********/
body {
  background-color: #fffcf2;
  font-family: 'Roboto', sans-serif; }

.span {
  text-align: center;
  padding: 2px 15px 2px 15px;
  border-radius: 10px;
  background-color: #eb5e28;
  margin-left: 1rem;
  color: whitesmoke; }

.navBar {
  background-color: #252422; }

.nav-item a {
  color: #eb5e28; }

.nav-link {
  color: black; }

/********** MAIN **********/
.carousel-inner img {
  object-fit: cover;
  height: 100vh; }

.textMain p {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem; }

/********** SECTION **********/
.sectionCards {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.cardBody {
  height: 350x;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }

.topCard {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  width: 400px; }

.botCard {
  height: 270px;
  width: 400px; }

.botCard h5 {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem; }

.botCard h4 {
  color: gray;
  font-size: 1.2rem;
  font-weight: 300; }

.botCard p {
  font-size: 0.8rem; }

.botCard a {
  text-decoration: none;
  color: #eb5e28;
  font-size: 0.8rem;
  line-height: 0; }

.botCard a span {
  background-color: black;
  padding: 0 0.2rem 0.1rem 0.2rem; }

/********** FOOTER **********/
footer {
  background-color: #252422; }

.elementsFooter {
  padding: 10em 0rem 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }

.elementsFooter a {
  font-size: 1.2rem;
  color: #eb5e28;
  text-decoration: none; }

.socialNetworks {
  margin: 2rem;
  color: #eb5e28;
  display: flex;
  justify-content: center;
  align-items: center; }

.socialNetworks svg {
  width: 35px;
  margin: 0 0.5rem; }

.copyRight {
  font-weight: bold;
  color: #eb5e28;
  display: flex;
  justify-content: center; }

.titleNews {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.2rem; }

.imgNews {
  width: 100%; }

.subtitleNews {
  margin: 2rem;
  text-align: center;
  font-weight: bold; }

.textNews {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center; }

.videoNews {
  border-bottom: 2px black solid;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.videoNews iframe {
  border-radius: 10px; }

.sectionInfo {
  margin-top: 2rem;
  width: 100%; }

.imgSection {
  border-radius: 2px;
  width: 50%; }

.infoOne {
  display: flex;
  align-items: center; }

.info p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center; }

.infoTwo {
  display: flex;
  align-items: center; }

.info {
  display: flex;
  flex-direction: column; }

.linkYoutube {
  color: #eb5e28;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  cursor: pointer; }

.containerVideos {
  margin: 2rem 0rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px; }

.containerVideos iframe {
  border-radius: 10px; }
