@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

/********** HEADER **********/
body {
    background-color: $colorBody;
    font-family: 'Ubuntu', sans-serif;
}

.span {
    text-align: center;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    background-color: $colorSecundario;
    margin-left: 1rem;
    color: whitesmoke;
}

.navBar {
    background-color: $colorPrincipal;
}

.nav-item a {
    color: $colorSecundario;
}

.nav-link {
    color: black;
}

/********** MAIN **********/
.carousel-inner img {
    object-fit: cover;
    height: 100vh;
}

/********** SECTION **********/
.sectionCards {
    width: 100%;
    margin: 4rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardBody {
    height: 400x;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.topCard {
    border-radius: 10px;
    overflow: hidden;
    height: 170px;
    width: 300px;
}

.botCard {
    height: 270px;
}

.botCard h5 {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.botCard h4 {
    color: gray;
    font-size: 1.2rem;
    font-weight:300;
}

.botCard p {
    font-size: 0.8rem;
}

.botCard a {
    text-decoration: none;
    color:$colorSecundario;
    font-size: 0.8rem;
    line-height: 0;
}

.botCard a span {
    background-color: black;
    padding: 0 0.2rem 0.1rem 0.2rem;
}

/********** FOOTER **********/
footer {
    background-color: $colorPrincipal;
}

.elementosFooter {
    padding: 6rem 0rem 2rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.elementosFooter a {
    font-size: 1rem;
    color: $colorSecundario;
    text-decoration: none;
}

.socialNetworks {
    color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyRight {
    color: $colorSecundario;
    display: flex;
    justify-content: center;
}