@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

/********** HEADER **********/
body {
    background-color: $colorBody;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: $colorPrincipal;
    padding: 1.2rem;
    border-bottom: 2px solid $colorSecundario;
}

.navbar-brand {
    color: $colorBody;
    font-size: 2.5rem;
    background-color: $colorSecundario;
    border-radius: 10px;
    padding: 0 1rem;
}

.collapse {
    display: flex;
    justify-content: end;
    align-items: center;
}

.collapse a {
    text-decoration: none;
    font-size: 1.2rem;
    color: $colorSecundario;
}


/********** MAIN **********/
.carousel-inner img {
    object-fit: cover;
    height: 100%;
}

.carousel-item {
    height: 87vh;
}

.titleMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: bolder;
    color: $colorSecundario;
    -webkit-text-stroke: 0.5px $colorPrincipal;
}

.textMain {
    padding: 2rem
}

.textMain p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 2rem;
}

.lineDiv {
    display: flex;
    justify-content: center;
}

.lineDiv hr {
    width: 95%;
    border: 2px $colorPrincipal solid;
}


/********** SECTION **********/
.sectionCards {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardBody {
    height: 350x;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.topCard {
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
    width: 380px;
}

.topCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.botCard {
    height: 270px;
    width: 380px;
}

.botCard h5 {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.botCard h4 {
    color: gray;
    font-size: 1.2rem;
    font-weight: 300;
}

.botCard p {
    font-size: 0.8rem;
}

.botCard a {
    text-decoration: none;
    color: $colorSecundario;
    font-size: 0.8rem;
    line-height: 0;
}

.botCard a span {
    background-color: black;
    padding: 0 0.2rem 0.1rem 0.2rem;
}

/********** FOOTER **********/
footer {
    height: fit-content;
    padding-bottom: 2.5rem;
    line-height: 0;
    background-color: $colorPrincipal;
}

.elementsFooter {
    padding-top: 3rem;
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.elementsFooter a {
    font-size: 1rem;
    color: $colorSecundario;
    text-decoration: none;
}

.socialNetworks {
    margin: 1rem;
    color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetworks a svg {
    stroke: $colorSecundario;
    width: 30px;
    margin: 0 0.5rem;
}

.lineDivFooter hr {
    border: 1px solid $colorSecundario;
}

.copyRight {
    margin-bottom: 0;
    padding-top: 1.5rem;
    font-weight: bold;
    color: $colorSecundario;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .sectionCards {
        flex-wrap: wrap;
    }
}