* {
    margin: 0;
    padding: 0;
}

.tituloNews {
    text-align: center;
    font-size: 3rem;
}

img {
    width: 100%;
}

h3 {
    text-align: center;
}

.videoNews {
    border-bottom: 3px black solid;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoNews iframe {
    border-radius: 10px;
}

.seccionInfo {
    margin-top: 2rem;
    width: 100%;
}

.imagen {
    width: 50%;
}

.infoUno {
    display: flex;
    align-items: center;
}

.infoDos {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}