/********** NEWS **********/

.titleNews {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
    color: $colorSecundario;
    -webkit-text-stroke: 0.5px $colorPrincipal;
}

.imgNews{
    width: 100%;
}

.subtitleNews {
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

.textNews {
    padding: 0 5%;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.videoNews {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoNews iframe {
    border-radius: 10px;
}

.sectionInfo {
    margin-top: 2rem;
    width: 100%;
}

.imgSection{
    border-radius: 1px;
    width: 50%;
}

.infoOne {
    display: flex;
    align-items: center;
}

.info p {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.infoTwo {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .sectionInfo{
        margin-top: 0;
    }
    .infoOne {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .infoTwo {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3.5rem;
    }

    .imgSection {
        width: 90%;
    }

    .videoNews {
        padding: 1.5rem 5%;
    }
    .videoNews iframe {
        width: 95%;
        padding: 0;
    }
}