.titleNews {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
}

.imgNews{
    width: 100%;
}

.subtitleNews {
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

.textNews {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.videoNews {
    border-bottom: 2px black solid;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoNews iframe {
    border-radius: 10px;
}

.sectionInfo {
    margin-top: 2rem;
    width: 100%;
}

.imgSection{
    border-radius: 2px;
    width: 50%;
}

.infoOne {
    display: flex;
    align-items: center;
}

.info p {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.infoTwo {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}