/********** PRODUCTS **********/
.containerProducts {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.cardProduct {
    height: 170px;
    width: 300px;
    position: relative;
    border-radius: 4px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProduct img {
    width: 300px;
}

.cardProduct h4 {
    font-size: 1.5rem;
    color: $colorSecundario;
    -webkit-text-stroke: 0.1px $colorBody;
    position: absolute;
    text-align: center;
    font-weight: bold;
}