* {
    margin: 0;
    padding: 0;
}

a {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.containerVideos {
    margin: 2rem 0rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.containerVideos iframe {
    border-radius: 10px;
}