/********** VIDEOS **********/

.linkYoutube {
    margin-top: 2rem;
    color: $colorSecundario;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-text-stroke: 1.5px $colorPrincipal;
}

.linkYoutube:hover {
    color: $colorSecundario;
}

.containerVideos {
    margin: 2rem 0rem 4rem 0rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.containerVideos iframe {
    border-radius: 10px;
}

@media (max-width: 1450px){
    .containerVideos {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        flex-direction: column;
    }
    .containerVideos iframe {
        width: 90%;
        max-width: 800px;
    }
}

@media (max-width: 600px) {
    .linkYoutube {
        font-size: 1.5rem;
    }
    .linkYoutube svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .linkYoutube {
        font-size: 1.3rem;
    }
}